@using BlogApp.Service.Dtos.Users;
@model UserRegisterDto
<form asp-action="register" asp-controller="users">
	<input type="text" asp-for=Name placeholder="Name">
	<input type="email" asp-for=Email placeholder="Email">
	<input type="password" asp-for=Password placeholder="Password">
	<input type="submit">
</form>